
<div class="form-register">
  <h3>Crear Producto</h3>
  <form [formGroup]="productForm"(ngSubmit)="save()">
    <div class="form-group">
      <label>id</label>
      <input type="number" formControlName="id" class="form-control">
    </div>
    <div class="form-group">
      <label>Nombre del producto</label>
      <input type="text" formControlName="name" class="form-control">
    </div>
    <div class="form-group">
      <label>Descripción del producto</label>
      <input type="text" formControlName="description" class="form-control">
    </div>
    <div class="form-group">
      <label>Tipo de producto</label>
      <select name="type" id="type" formControlName="type" class="form-control">
         <option [ngValue]="item" *ngFor="let item of types" value="item.id">{{item.name}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>
</div>

<router-outlet></router-outlet>
